{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/villagers/my_villagers/{{villager.id}}?_method=PUT" method="POST">
        <!-- <fieldset disabled={true}> -->
            <legend>Update {{ villager.name}}</legend>
            <img src="{{ villager.imgUrl }}" width="300" height="300">
            <label class="form-label">Name:</label>
            <input 
                type="text" 
                name="name" 
                value="{{ villager.name}}"
                class="form-control"
            >
            <label class="form-label">Body:</label>
            <input 
                type="text" 
                name="personality" 
                value="{{ villager.personality }}" 
                class="form-control"
            >
            <label class="form-label">Birthday:</label>
            <input 
                type="text" 
                name="birthday" 
                value="{{ villager.birthday }}" 
                class="form-control"
            >
            <label class="form-label">Species:</label>
            <input 
                type="text" 
                name="species" 
                value="{{ villager.species }}" 
                class="form-control"
            >
            <label class="form-label">Gender:</label>
            <input 
                type="text" 
                name="gender" 
                value="{{ villager.gender }}" 
                class="form-control"
            >
            <label class="form-label">Amount:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ example.amount }}"
                class="form-control"
            >
            <label class="form-label">Ready:</label>
        </fieldset>
        <fieldset>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
                {% if example.ready %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" value="Save" class="btn btn-success">
    </form>
</div>
{% endblock %}