{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6"> All Villagers</h2>
    <div class="row all-villagers">
        {% for animal in animalData limit:50 %}
        <div class="card cb1">
            <h5 class="card-header">{{ animal["name"]["name-USen"] }}</h5>
            <a href="/villagers/{{ animal["id"]}}">
                <img src="{{ animal["icon_uri"] }}" width="80" height="80">
                <!-----------test form to push api data to local------------->
                
            <div class="container-sm">
                <form action="/villagers/my_villagers" method="POST">
                    <fieldset>
                        <!-- <label class="form-label">< Name: ></label> -->
                            <input type="hidden" name= "name" value={{animal["name"]["name-USen"]}}>
                            <input type="hidden" name= "personality" value={{ animal["personality"] }}>
                            <input type="hidden" name= "birthday"value={{ animal["birthday-string"] }}>
                            <input type="hidden" name= "species"value={{ animal["species"] }}>
                            <input type="hidden" name= "gender" value={{ animal["gender"] }}>
                            <input type="hidden" name= "subtype" value={{ animal["subtype"] }}> 
                            <input type="hidden" name= "hobby" value={{ animal["hobby"] }}>
                            <input type="hidden" name= "catchPhrase"value={{ animal["catch-phrase"] }}>
                            <input type="hidden" name= "iconUrl" value={{ animal["icon_uri"] }}>
                            <input type="hidden" name= "imgUrl" value={{ animal["image_uri"] }}> 
                            <input type="hidden" name= "bubbleColor" value={{ animal["bubble-color"] }}>
                            <input type="hidden" name= "textColor" value={{ animal["text-color"] }}>
                            <input type="hidden" name= "saying" value={{ animal[ 'saying' ] }}> 
                    </fieldset>
                    <input 
                        type="submit" 
                        value="Favorite"
                        class="btn fav-button"
                    >
                </form>
            </div>
                <!------------------- end of test form --------------------->
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}