{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6"> All Villagers</h2>
    <div class="row all-villagers">
        {% for villager in villagerArray %}
        <div class="card cb1">
            <h5 class="card-header">{{villager["name"]["name-USen"] }}</h5>
            <a  href="/villagers/{{ villager["id"]}}">
                <img id="villager-icon-link" src="{{ villager["icon_uri"] }}" width="80" height="80">
                <!-----------test form to push api data to local------------->
                
            <div class="container-sm">
                <form action="/villagers/my_villagers" method="POST">
                    <fieldset>
                        <!-- <label class="form-label">< Name: ></label> -->
                            <input type="hidden" name= "name" value={{villager["name"]["name-USen"]}}>
                            <input type="hidden" name= "personality" value={{ villager["personality"] }}>
                            <input type="hidden" name= "birthday"value={{ villager["birthday-string"] }}>
                            <input type="hidden" name= "species"value={{ villager["species"] }}>
                            <input type="hidden" name= "gender" value={{ villager["gender"] }}>
                            <input type="hidden" name= "subtype" value={{ villager["subtype"] }}> 
                            <input type="hidden" name= "hobby" value={{ villager["hobby"] }}>
                            <input type="hidden" name= "catchPhrase"value={{ villager["catch-phrase"] }}>
                            <input type="hidden" name= "iconUrl" value={{ villager["icon_uri"] }}>
                            <input type="hidden" name= "imgUrl" value={{ villager["image_uri"] }}> 
                            <input type="hidden" name= "bubbleColor" value={{ villager["bubble-color"] }}>
                            <input type="hidden" name= "textColor" value={{ villager["text-color"] }}>
                            <input type="hidden" name= "saying" value={{ villager[ 'saying' ] }}> 
                    </fieldset>
                    <input 
                        type="submit" 
                        value="Favorite"
                        class="btn fav-button"
                    >
                </form>
            </div>
                <!------------------- end of test form --------------------->
            </a>
        </div>
        {% endfor %}
        <a class="toplink" href="#top">Back to top of page</a>
    </div>
</div>
{% endblock %}